.container{
    width: 100vw;
    min-width: 1000px;
    min-height: 1000px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    width: 90%;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}

.contents {
    width: 90%;
    height:500px;
    margin-top:50px;
    display: flex;
    align-items: center;
    border:none;
}
.contents >textarea{
    width:100%;
    height: 100%;
    resize: none;
    transition: border 0.3s, outline 0.3s;
}
.contents >textarea:hover{
    border:1px solid #7fb6ff;
}
.contents >textarea:focus{
    outline:1px solid #7fb6ff;
    text-align: left;
}
.title_header{
    width: 90%;
    height:30px;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}
.title{
    width:300px;
    height:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title >textarea{
    width:80%;
    height: 100%;
    resize: none;
}


.title >textarea:hover{
    border:1px solid #7fb6ff;
}
.title >textarea:focus{
    outline:1px solid #7fb6ff;
    text-align: left;
}

.toWriteBtn {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: #7fb6ff;
    border:none;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    margin-top: 30px;

}
.main > a{
    width: 200px;
    height: 40px;
}
.toWriteBtn:hover{
    transform: scale(1.1);
    background-color: #e78dfd;
}