*{
    margin:0;padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    width: 100vw;
    height: 1000px;
    min-width: 1000px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    width: 100%;
    display: flex;
    justify-content: end;

}
.header > a{
    transition: color 0.3s;
}
.header > a:hover{
    color:red;
}
.main{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}
.main > a{
    width: 100px;
    height: 40px;
}
.entranceBtn {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #7fb6ff;
    border:none;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    margin-top: 500px;

}
.entranceBtn:hover{
    transform: scale(1.1);
    background-color: #e78dfd;
}
