.container{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.main{
    width:300px;
    height:500px;
    border: 1px solid #7fb6ff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.main > button{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: #7fb6ff;
    border:none;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    margin-top: 100px;
}
.main > button:hover{
    transform: scale(1.1);
    background-color: #e78dfd;
}
.main > div {
    width:80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 20px;
}
.main > div:nth-child(1){
    margin-top: 100px;
}
.main >div>input{
    width:180px;
    height:30px;
}
.main > div:nth-child(4)>div>input:nth-child(1){
    width:70px;
    height:25px;
}

input:focus{
    outline:1px solid #7fb6ff;
    text-align: left;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}